<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.material.nereeducation">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    `
    <application
        android:name="com.material.nereeducation.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">

        <!-- Add Google Map Library -->
        <uses-library android:name="com.google.android.maps" />

        <!-- Google API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.material.nereeducation.activity.dashboard.Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.bottomnavigation.BottomNavigationBasic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.bottomnavigation.BottomNavigationShifting"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.bottomsheet.BottomSheetBasic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.bottomsheet.BottomSheetList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.button.ButtonBasic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.card.CardBasic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.chip.ChipBasic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.dialog.DialogBasic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.expansionpanel.ExpansionPanelBasic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.gridlist.GridBasic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.list.ListBasic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.picker.PickerTimeDark"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.progressactivity.ProgressBasic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.slider.SliderLight"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.slider.SliderDark"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.snackbartoast.SnackbarToastBasic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.stepper.StepperText"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.tabs.TabsBasic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.form.FormLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.toolbar.ToolbarBasic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.button.FabMiddle"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.button.ButtonInUtilities"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.card.CardTimeline"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.dialog.DialogFullscreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.dialog.DialogCustom"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.expansionpanel.ExpansionPanelTicket"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.expansionpanel.ExpansionPanelInvoice"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.gridlist.GridSingleLine"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.gridlist.GridSectioned"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.list.ListSectioned"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.list.ListExpand"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.list.ListDrag"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.list.ListSwipe"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.list.ListAnimation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.picker.PickerDateLight"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.picker.PickerDateDark"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.picker.PickerTimeLight"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.progressactivity.ProgressPullRefresh"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.progressactivity.ProgressOnScroll"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.progressactivity.ProgressLinearCenter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.slider.SliderColorPicker"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.snackbartoast.SnackbarAndFab"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.stepper.StepperVertical"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.stepper.StepperProgress"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.stepper.StepperWizardLight"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.tabs.TabsIcon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.tabs.TabsTextIcon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.tabs.TabsLight"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.tabs.TabsStore"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.toolbar.ToolbarCollapse"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.toolbar.ToolbarCollapsePin"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.form.FormProfileData"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.form.FormWithIcon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.tabs.TabsIconLight"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.tabs.TabsIconStack"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.stepper.StepperDots"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.stepper.StepperWizardColor"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent" />
        <activity
            android:name="com.material.nereeducation.activity.progressactivity.ProgressCircleCenter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.progressactivity.ProgressLinearTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.picker.PickerColor"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.picker.PickerLocation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.list.ListMultiSelection"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.gridlist.GridTwoLine"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.gridlist.GridAlbums"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.dialog.DialogCustomInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.dialog.DialogCustomWarning"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.dialog.DialogCustomLight"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.dialog.DialogAddPost"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.dialog.DialogCustomDark"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.dialog.DialogAddReview"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.chip.ChipTag"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.card.CardOverlap"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent" />
        <activity
            android:name="com.material.nereeducation.activity.card.CardWizard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.card.CardWizardLight"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.button.FabMore"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.button.FabMoreText"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.bottomsheet.BottomSheetMap"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.bottomsheet.BottomSheetFloating"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.bottomsheet.BottomSheetFull"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.bottomnavigation.BottomNavigationLight"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.toolbar.ToolbarLight"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.toolbar.ToolbarDark"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.form.FormTextArea"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.tabs.TabsScroll"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.tabs.TabsDark"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.form.FormSignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.gridlist.GridCaller"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.bottomnavigation.BottomNavigationDark"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.bottomnavigation.BottomNavigationIcon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.card.CardWizardOverlap"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.profile.TutorProfileDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.profile.StudentProfileDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.noitem.NoItemArchived"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.noitem.NoItemSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.noitem.NoItemInternetIcon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.noitem.NoItemInternetImage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.noitem.NoItemBgCity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.noitem.NoItemBgCactus"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.noitem.NoItemTabs"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.search.SearchToolbarLight"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.search.SearchToolbarDark"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.search.SearchPrimary"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.search.SearchStore"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.search.SearchCity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.search.SearchPrimaryBg"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.search.SearchHistoryCard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.shopping.ShoppingCategoryList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.tabs.TabsRound"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.shopping.ShoppingCategoryCard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.shopping.ShoppingCategoryImage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.shopping.ShoppingCheckoutCard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.shopping.ShoppingProductGrid"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.shopping.ShoppingProductDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.shopping.ShoppingSubCategoryTabs"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.shopping.ShoppingProductAdvDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.sliderimage.SliderImageHeader"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.sliderimage.SliderImageHeaderAuto"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.sliderimage.SliderImageCard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.sliderimage.SliderImageCardAuto"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.player.PlayerMusicBasic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.player.PlayerMusicLight"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.player.PlayerMusicAlbumDark"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.player.PlayerMusicAlbumCircle"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.player.PlayerMusicAlbumSimple"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.player.PlayerMusicSongList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.player.PlayerMusicTabs"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.player.PlayerMusicTabsIcon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.player.PlayerMusicAlbumGrid"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.timeline.TimelineFeed"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.timeline.TimelinePath"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.timeline.TimelineTwitter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.timeline.TimelineSimple"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.timeline.TimelineDotCard"
            android:screenOrientation="portrait" />
        <activity android:name="com.material.nereeducation.activity.login.LoginActivity" />
        <activity
            android:name="com.material.nereeducation.activity.splash.SplashScreenActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.material.nereeducation.receiver.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.material.nereeducation.activity.register.RegisterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.material.nereeducation.activity.welcome.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.material.nereeducation.activity.chapters.ListChapters"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.chapters.ListChapter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.chapters.ChapterListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.material.nereeducation.activity.lesson.LessonActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.material.nereeducation.activity.subchapter.SubchapterActivity" />
        <activity
            android:name="com.material.nereeducation.activity.practice.PracticeActivity"
            android:label="@string/title_activity_practice"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.material.nereeducation.activity.notification.NotificationActivity"
            android:label="@string/notfications"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.material.nereeducation.activity.pastyears.PastYearsActivity"
            android:label="@string/title_activity_past_years"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.log.LogActivity"
            android:label="@string/my_activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.material.nereeducation.activity.askteachers.AskTeacherList"
            android:label="@string/title_activity_ask_teacher_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.material.nereeducation.activity.analysis.AnalysisActivity"
            android:label="@string/title_activity_analysis"
            android:theme="@style/AppTheme"></activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>